    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Hakkımda</h2>
              <br/>
                1998'in Mayıs ayının 22'sinde Tokat Turhal'da dünyaya geldim. Annem Bulgar göçmeni, Babam ise Malatyalıdır. 2005 tarihinde İstanbul'a yerleştik.
                <br><br/>
                İlk okulu Güngören İleçesinde Mustafa Kemal İlkokulunda tamamlayıp, Beyazıt da yer alan Kadırga Mesleki ve Teknik Anadolu Lisesinde okumaya başladım. Son sınıfı ise Denizli'de Hanife ve Ahmet Paralı Teknik ve Endüstri Meslek Lisesinde bitirmek zorunda kaldım.
                <br><br/>
                Denizli'de liseyi tamamladıktan sonra tekrardan İstanbul'a dönüp kendi yaşamımı kurmaya başladım. 2016 tarihinden beri İstanbul'da belirli kurum ve kuruluşlarda rol üstlendim.
                
              </div>
        </div>
    </section>
